.settings {
    transition: all 0.3s ease-in-out;
}

.settings:hover{
    transform: rotate(-90deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(45deg);
    }
}