.settings {
    transition: all 0.3s ease-in-out;
}

.settings:active{
    transform: rotate(-180deg);
}

.toggle{
    cursor: pointer;
}

.expand {
    opacity: 0;
    transform: translateX(0px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.expand.view {
    opacity: 1;
    transform: translateX(-20px);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(45deg);
    }
}